Test Outputs/*.csv
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
__pycache__/
*.pyc
env/
venv/
*.sqlite3
*.db
*.sqlite
*.bak
*.tmp
*.swp
*.swo
*.class
*.jar
*.war
*.ear
*.iml
*.out
*.exe
*.dll
*.so
*.dylib
*.o